body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a,
ul {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: whitesmoke;
}

.herobutton,
.signupbutton {
  font-weight: bolder;
}

/* HEADER SECTION */

.header-main {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  color: whitesmoke;
  padding-inline: 50px;
}

.headerlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1f2937;
  color: whitesmoke;
  padding-inline: 50px;
  padding-bottom: 25px;
}

.text-container {
  width: 600px;
}

.herobutton {
  text-align: center;
  background-color: #3882f6;
  border-radius: 10px;
  border: white;
  padding: 12px;
  color: whitesmoke;
  width: 100px;
}

.signupbutton {
  text-align: center;
  background-color: #3882f6;
  border-radius: 10px;
  border: white;
  padding: 12px;
  color: whitesmoke;
  width: 100px;
}

/* INFORMATION SECTION */

.info {
  display: flex;
  padding-bottom: 75px;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.biginfo {
  text-align: center;
  padding-bottom: 20px;
}

.info-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoimagetext {
  padding-top: 10px;
  width: 150px;
}

/* QUOTE SECTION */

.quote {
  display: flex;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.quoteblock {
  width: 500px;
}

.quotename {
  padding-top: 150px;
  padding-left: 50px;
}

/* SIGN UP SECTION */

.signupmain {
  background-color: white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.signupinner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 750px;
  background-color: #3882f6;
  padding: 25px;
  border-radius: 10px;
}

.signupbutton {
  border: white solid 2px;
}

.signupbuttonbounds {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* FOOTER SECTION */

.footer {
  display: flex;
  color: white;
  background-color: #1f2937;
  justify-content: space-around;
}
