body {
  padding-inline: 50px;
  height: 100%;
  background-color: #1f2937;
}

a,
ul {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: whitesmoke;
}

/* HEADER SECTION */
.header-main {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  color: whitesmoke;
}

.headerlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1f2937;
  color: whitesmoke;
}

.text-container {
  width: 600px;
}

.heroimage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
}

.herobutton {
  text-align: center;
  background-color: #3882f6;
  border-radius: 10px;
  border: white;
  padding: 12px;
  color: whitesmoke;
  width: 100px;
}

.signupbutton {
  text-align: center;
  background-color: #3882f6;
  border-radius: 10px;
  border: white;
  padding: 12px;
  color: whitesmoke;
  width: 100px;
}

/* INFORMATION SECTION */
